main {
	display: flex;
	flex-direction: column;
	gap: var(--space-l);
	padding-block: var(--space-l);
	min-height: calc(100vh - var(--menu-height));
}

.help__contentColumn {
	display: flex;
	flex-direction: column;
	gap: var(--space-2xl);
}

.help__contentColumn section:not(:has(ef-accordion)):not(:first-child) {
	border-top: 1px solid var(--color-fg);
	padding-top: var(--space-s);
}
.help__contentColumn .richtext {
	line-height: 1.5;
}
.help__contentColumn section > h2 {
	font-size: var(--type-h4);
	font-family: var(--font-sans);
	letter-spacing: -0.04em;
	line-height: 1;
	font-weight: 400;
	margin-bottom: var(--space-s);
}

.help__contentColumn .richtext > * + * {
	margin-top: var(--space-s);
}

main menu {
	display: none;
} 


@media (min-width: 1024px) {
	main {
		padding-top: var(--space-2xl);
		padding-bottom: var(--space-xl);
		padding-inline: var(--space-l);
		display: grid;
		justify-content: space-between;
		grid-template-columns: minmax(43%, 430px) minmax(43%, 430px);
		grid-template-rows: 1fr min-content;
	}

	main h1 {
		scroll-margin-top: var(--space-2xl);
	}

	main menu {
		display: flex;
		flex-direction: column;
		gap: var(--space-2xs);
		position: sticky;
		bottom: var(--space-xl);
		grid-column: 1 / span 1;
		grid-row: 2 / span 1;
		padding: 0;
		list-style: none;
		font-size: var(--type-body-s);
		text-decoration: underline;
	}
	main menu li {
		display: flex;
		align-items: center;
		gap: var(--space-2xs);
	}
	main menu li::before {
		content: '';
		width: 6px;
		height: 6px;
		border-radius: 6px;
		background-color: transparent;
		display: inline-block;
		transition: background-color 0.2s;
	}
	main menu li.visible::before {
		background-color: var(--color-fg);
	}

	.help__contentColumn {
		margin-top: var(--space-2xl);
		grid-column: 2 / span 1;
		grid-row: 1 / span 2;
	}

	.help__contentColumn > *:first-child {
		margin-bottom: var(--space-l);
	} 
}